<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset='utf-8'/>
        <title>Список ДТП</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" th:href="@{/styles/checkId.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row pt-2" id="blockOfHeader">
                <h3 id="header">Для редактирования заявления необходимо указать свой идентификатор!</h3>
            </div>
            <form action="#" th:action="@{/edit}" method="GET">
                <section>
                    <th:block th:if="${error != ''}">
                        <p th:text="${error}">Error</p>
                    </th:block>
                    <div class="form-group">
                        <label for="id">Введите идентификатор заявления: </label>
                        <!--/*@thymesVar id="id" type="java.lang.Integer"*/-->
                        <input type="text" class="form-control" id="id" name="id" th:field="${id}"/>
                    </div>
                    <div id="buttons">
                        <input id="sendId" type="submit" name="save" class="btn btn-outline-dark" value="Отправить"/>
                    </div>
                </section>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            </form>
        </div>
    </body>
</html>