<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'/>
        <title>Список ДТП</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" th:href="@{/styles/create.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row pt-2" id="blockOfHeader">
                <h1 id="header">Создание заявки</h1>
            </div>
            <!--/*@thymesVar id="accident" type="ru.job4j.accidents.model.Accident"*/-->
            <form action="#" th:action="@{/save}" th:object="${accident}" method="POST">
                <section>
                    <div class="form-group">
                        <label for="name">Введите адрес происшествия: </label>
                        <input type="text" th:field="*{name}" class="form-control" id="name"/>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
                    </div>
                    <div class="form-group">
                        <label for="address">Введите адрес происшествия: </label>
                        <input type="text" th:field="*{address}" class="form-control" id="address"/>
                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</span>
                    </div>
                    <div class="form-group">
                        <label for="text">Составьте описание происшествия: </label>
                        <textarea class="form-control" th:field="*{text}" id="text" rows="8" placeholder="Ввод текста..."></textarea>
                        <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Text error</span>
                    </div>
                    <div id="buttons">
                        <input id="createButton" type="submit" name="save" class="btn btn-outline-dark" value="Создать заявление"/>
                    </div>
                </section>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            </form>
        </div>
    </body>
</html>
