<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'/>
        <title>Список ДТП</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" th:href="@{/styles/index.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row pt-2" id="blockOfHeader">
                <h1 id="header">Список заявок по ДТП</h1>
            </div>
            <section>
                <table class="table table-bordered">
                    <tr>
                        <th class="contained">Имя водителя</th>
                        <th class="contained">Описание</th>
                        <th class="contained">Адрес происшествия</th>
                    <tr>
                    <tr th:each="accident : ${accidents}">
                        <td class="data" th:text="${accident.value.name}"></td>
                        <td class="data" th:text="${accident.value.text}"></td>
                        <td class="data" th:text="${accident.value.address}"></td>
                    </tr>
                </table>
            </section>
            <div id="buttons">
                <form action="#" th:action="@{/create}" method="POST">
                    <input id="createButton" type="submit" name="create" class="btn btn-outline-dark" value="Создать заявление"/>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                </form>
                <form action="#" th:action="@{/checkId}" method="POST">
                    <input id="updateButton" type="submit" name="update" class="btn btn-outline-dark" value="Редактировать заявление"/>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                </form>
            </div>
        </div>
    </body>
</html>
