<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'/>
        <title>Список ДТП</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/styles/successOfCreation.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row pt-2" id="blockOfHeader">
                <h1 id="header">Заявление успешно зарегистрировано!</h1>
            </div>
            <section>
                <!--/*@thymesVar id="id" type="java.lang.Integer"*/-->
                <p>Идентификатор Вашего заявления: <span th:text="${id}">ID</span></p>
                <a href="#" th:href="@{/}">Перейти к таблице с существующими правонарушениями</a>
            </section>
        </div>
    </body>
</html>
