<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset='utf-8'/>
        <title>Список ДТП</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/styles/update.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row pt-2" id="blockOfHeader">
                <h1 id="header">Редактирование заявления</h1>
            </div>
            <!--/*@thymesVar id="accident" type="ru.job4j.accidents.model.Accident"*/-->
            <form action="#" th:action="@{/update}" th:object="${accident}" method="POST">
                <section>
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <div class="form-group">
                        <label for="name">Введите Ваше ФИО: </label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" name="name" th:value="${accident.name}"/>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
                    </div>
                    <div class="form-group">
                        <label for="types">Выберите тип правонарушения: </label>
                        <select th:field="*{type.id}" class="form-control" id="types">
                            <option th:value="0"> --- выберите пункт --- </option>
                            <option th:each="variant : ${types}" th:value="${variant.id}" th:text="${variant.name}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('type.id')}" th:errors="*{type.id}">Type error</span>
                    </div>
                    <div class="form-group">
                        <label for="rules">Выберите статьи правонарушения: </label>
                        <select th:name="ruleIds" class="form-control" id="rules"  size="3" multiple>
                            <option th:each="variant : ${rules}" th:value="${variant.id}" th:text="${variant.name}"></option>
                        </select>
                        <span th:if="${error != ''}" th:text="${error}">Rule error</span>
                    </div>
                    <div class="form-group">
                        <label for="address">Введите адрес происшествия: </label>
                        <input type="text" th:field="*{address}" class="form-control" id="address" name="address" th:value="${accident.name}"/>
                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name error</span>
                    </div>
                    <div class="form-group">
                        <label for="text">Составьте описание происшествия: </label>
                        <textarea th:field="*{text}" class="form-control" id="text" rows="3" name="text">${accident.text}</textarea>
                        <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Name error</span>
                    </div>
                    <div id="buttons">
                        <input id="updateButton" type="submit" name="save" class="btn btn-outline-dark" value="Обновить заявление"/>
                    </div>
                </section>
            </form>
        </div>
    </body>
</html>